<!-- FORM DE TESTE! by Prof Simone-->

<html lang="pt-BR">
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<h1><%=title%></h1>
<form action= "/incluirusuario" method="POST">
<p><label for="nome">Nome</label></p>
<p><input type="text" name="username" id= "username"/></p>
<p><label for="email">Email</label></p>
<p><input type="text" name="email" id = "email"/></p>
<p><label for="email">Password</label></p>
<p><input type="text" name="password" id = "password"/></p>
<p><label for="email">State</label></p>
<p><input type="text" name="state" id = "state"/></p>
<p><input type="submit" value="Incluir"/></p>
</form>
</body>
</html>