.cadastro{
    height: auto;
    width: 350px;
    padding: 30px;
    display: inline-block;
    position: absolute;
    margin-left: 35%;
    top: 15%;
    border-radius: 10px;
    background-color: whitesmoke;
}

body{
    background-image: url(ondinha.jpg);
    background-position: center;
}

@font-face {
    font-family: headerFont;
    src: url(Beatrica.otf);
}

@font-face {
    font-family: reg;
    src: url(JAi_____.TTF);
}

label{
    font-size: 20px;
    margin-right: 8px;
    color: #444444;
    font-family: reg;
}

label, input, select{
    margin-bottom: 8px;
}

input:focus{
    outline: 0;
}

input, select{
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

select:focus{
    outline: 0;
}

h2{
    font-family: reg;
    font-size: 20px;
    color: #444444;
}

p{
    font-family: headerFont;
    font-size: 70px;
    margin: 0;
    text-align: center;
    color: #444444;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.container button{
    background-color: rgb(81, 218, 104);
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.container button:hover{
    opacity: 0.8;
}

#cancelBtn{
    background-color: rgb(196, 103, 96);
    float: right;
}