body{
    /*background: url(https://images.unsplash.com/photo-1527100673774-cce25eafaf7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgb(33, 33, 77);
    overflow: hidden;
}

@font-face {
    font-family: headerFont;
    src: url(Beatrica.otf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}

p{
    font-family: headerFont;
    font-size: 100px;
    margin-bottom: 5px;
}

input:focus{
    outline: 0;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

select:focus{
    outline: 0;
}

#selectEstado{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

label{
    font-family: roboto;
    font-size: 27px;
    margin-right: 18px;
}

.container button{
    background-color: #757dec;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

span.usenha{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

span.usenha a{
    color: #2734ee;
}

#cancelBtn{
    background-color: rgb(196, 103, 96);
}

.content{
    border-radius: 8px;
    text-align: left;
    margin: 1% auto;
    width: 30%; 
    /*background-color: rgba(255, 255, 255, 0.637);
    -webkit-box-shadow: 35px 36px 0px 0px rgba(145, 181, 222, 0.692);
    -moz-box-shadow: 35px 36px 0px 0px rgba(145, 181, 222, 0.692);
    box-shadow: 35px 36px 0px 0px rgba(145, 181, 222, 0.692);*/
}

.cadastro p{
    text-align: center;
}

.cadastro{
    background-color: lavender;
    border-radius: 10px;
}
