body{
    margin: auto;
    background-color: rgba(119, 136, 153, 0.459);
    animation: fade 2s;
}

/*Ondinha*/
#wave{
    margin-top: 100px;
    position: relative;
    margin-bottom: -4px;
}

#waveReflex{
    z-index: -1;
    margin-top: -1px;
    position: absolute;
    display: block;
    transform: rotate(180deg); 
}

#head {
    padding-top: 40px;
    width: 100%;
    background: rgb(150,164,175);
    background: linear-gradient(114deg, rgba(150,164,175,1) 0%, rgba(75,104,196,0.3925945378151261) 60%);
}

@font-face {
    font-family: headerFont;
    src: url(Beatrica.otf);
}

/*Título da página efeito*/
/*@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-500px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }*/

#titulo {
    position: absolute;
    padding-left: 10%;
    text-align: justify;
    font-size: 120px;
    margin: auto;
    font-family: headerFont;
    animation: fadeInLeft 0.8s;
}
 
/*MENU*/

.drop-down {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    font-size: 20px;
    display: inline-block;
    background-color: #090f22;
    color: white;
    letter-spacing: 2px;
    padding: 15px 20px;
    margin: 5px;
    position: relative;
    cursor: pointer;
}
 
#menu:hover {
    background-color: white;
    color: black;
    padding: 15px 20px;
    margin: 5px;
    box-shadow: 0 0 1em silver;
    animation: fade 0.3s;
}
 
#menu ul {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    background-color: white;
    padding: 10px;
    margin-top: 11px;
    width: 115px;
}

/*Fade*/
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*SUB-MENU*/
#menu:hover ul, #menu.over ul
{
    display: block;
    animation: fade 0.3s;
}

#menu ul li {
    display: block;
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    width: auto;
}
 
#menu ul li:hover{
    background-color: white;
    padding: auto;
    color: black;
}

#menu .sub-menu{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

#menu:hover a{
    color: black;
}

#menu .sub-menu:hover{
    color: black; 
    text-shadow: #819db3 0.1em 0.1em 0.2em;
}

.log{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 30px;
    padding-left: 15px;
    padding-top: 15px;
    /*top: 54%;*/
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.log:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*RODAPÉ*/
footer img{
    width: 150px;
    height: auto;
    max-width: 15%;
    border-radius: 50%;
    padding-left: 5px;
    pointer-events: none;
    margin-bottom: 15px;
}

.foot{
    color: black;
    font-weight: bold;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding: 50px;
    background-color: #a8baf5;
    text-align: center;
    font-size: small;
}

#imgFooter{
    max-width: 100%;
	height: auto;
    margin-bottom: -15px;
    display: inline-block;
    z-index: -1;
    user-select: none;
}

/*LOGIN*/

#login {
    -webkit-text-security: disc;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}

input:focus{
    outline: 0;
}

input[type=text], input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

label{
    font-family: roboto;
    font-size: 27px;
}

.container button{
    background-color: #757dec;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

span.usenha{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

span.usenha a{
    color: #2734ee;
}

#cancelBtn{
    background-color: rgb(196, 103, 96);
}

.container{
    padding: 16px;
}

.painel{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 20px;
}

.content{
    background: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%; 
    animation: animatezoom .6s;
}

@keyframes animatezoom{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/*CORPO DA PÁGINA (TEXTOS)*/

.bodyText{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    /*background-color: rgba(0, 66, 128, 0.041);
    border-radius: 10px;*/
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    text-align: center;
}

.column h1{
    margin-top: 15%;
}

@font-face {
    font-family: topic;
    src: url(Letters\ for\ Learners.ttf);
}

.column li{
    font-family: topic;
    font-size: 40px;
    list-style-image: url("https://img.icons8.com/material-two-tone/24/000000/double-right.png");
}

@font-face {
    font-family: winter;
    src: url(Winter\ Insight.ttf);
}

h1{
    font-family: winter;
    font-size: 100px;
    margin-bottom: 10px;
    /*margin-top: 15%;*/
}

.texto{
    width: 500px;
    text-align: justify;
    font-size: 17px;
}

@keyframes zoom {
    0% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1);
    }
  }

.column img{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 450px;
    margin-bottom: 30px;
    position: relative;
    animation: zoom 1s ease 0s 1 normal forwards;
    pointer-events: none;
}

/*SLIDESHOW ICARLY*/

.fadeSlide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.8s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  

.items{
    display: inline-flex;
    position: relative;
    margin-top: 3%;
    margin-bottom: 20%;
    justify-content: center;
    user-select: none;
}

.mySlides{
    position: absolute;
    user-select: none;
}

.mySlides img{
    border-radius: 10px;
}

.mySlidesNone{
    position: relative;
    margin-bottom: -180px;
    border-radius: 10px;
}

.mySlidesNone img{
    border-radius: 10px;
}

.button{
    padding-bottom: 5px;
}

.items .button-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
    user-select: none;
}

.button-container .button {
    color: #fff;
    top: 200%;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgb(150, 24, 24);
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
}
  
.button-container .button:nth-child(2) {
    float: right;
}

.number li{
    font-size: 17px;
    list-style-type: disc;
    list-style-image: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}