body{
    margin: auto;
    background-color: rgba(119, 136, 153, 0.459);
    animation: fade 2s;
}

/*Ondinha*/
#wave{
    position: relative;
    padding-top: 80px;
}

#head {
    padding-top: 40px;
    /*margin-top: 40px;*/
    width: 100%;
    background-color: #96a4af5d;
}

@font-face {
    font-family: headerFont;
    src: url(Beatrica.otf);
}

#titulo {
    position: absolute;
    padding-left: 22%;
    text-align: justify;
    font-size: 120px;
    margin: auto;
    font-family: headerFont;
}

.drop-down {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/*MENU*/

#menu {
    font-size: 20px;
    display: inline-block;
    background-color: #090f22;
    color: white;
    letter-spacing: 2px;
    padding: 15px 20px;
    margin: 5px;
    position: relative;
    cursor: pointer;
}
 
#menu:hover {
    background-color: white;
    color: black;
    padding: 15px 20px;
    margin: 5px;
    box-shadow: 0 0 1em silver;
    animation: fade 0.3s;
}
 
#menu ul {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    background-color: white;
    padding: 10px;
    margin-top: 11px;
    width: 115px;
}

/*Fade*/
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*SUB-MENU*/
#menu:hover ul, #menu.over ul
{
    display: block;
    animation: fade 0.3s;
}

#menu ul li {
    display: block;
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    width: auto;
}
 
#menu ul li:hover{
    background-color: white;
    padding: auto;
    color: black;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    color: black; 
    text-shadow: #96a4af 0.1em 0.1em 0.2em
}

.bodyText{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 66, 128, 0.041);
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}