body{
    margin: auto;
    background-color: rgba(119, 136, 153, 0.459);
    animation: fade 2s;
}

/*Ondinha*/
#wave{
    position: relative;
    padding-top: 80px;
}

#head {
    padding-top: 40px;
    /*margin-top: 40px;*/
    width: 100%;
    background-color: #96a4af5d;
}

@font-face {
    font-family: headerFont;
    src: url(Beatrica.otf);
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-500px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

#titulo {
    position: absolute;
    padding-left: 22%;
    text-align: justify;
    font-size: 120px;
    margin: auto;
    font-family: headerFont;
    animation: fadeInLeft 0.8s;
}

.drop-down {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/*MENU*/

#menu {
    font-size: 20px;
    display: inline-block;
    background-color: #090f22;
    color: white;
    letter-spacing: 2px;
    padding: 15px 20px;
    margin: 5px;
    position: relative;
    cursor: pointer;
}
 
#menu:hover {
    background-color: white;
    color: black;
    padding: 15px 20px;
    margin: 5px;
    box-shadow: 0 0 1em silver;
    animation: fade 0.3s;
}
 
#menu ul {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    background-color: white;
    padding: 10px;
    margin-top: 11px;
    width: 115px;
}

/*Fade*/
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*SUB-MENU*/
#menu:hover ul, #menu.over ul
{
    display: block;
    animation: fade 0.3s;
}

#menu ul li {
    display: block;
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    width: auto;
}
 
#menu ul li:hover{
    background-color: white;
    padding: auto;
    color: black;
}

#menu .sub-menu{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

#menu:hover a{
    color: black;
}

#menu .sub-menu:hover{
    color: black; 
    text-shadow: #819db3 0.1em 0.1em 0.2em;
}

#log{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 30px;
    padding-left: 15px;
    top: 54%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#log:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.bodyText{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    /*background-color: rgba(0, 66, 128, 0.041);
    border-radius: 10px;*/
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    text-align: center;
    padding: auto;
}

@font-face {
    font-family: winter;
    src: url(Winter\ Insight.ttf);
}

h1{
    font-family: winter;
    font-size: 100px;
    margin-bottom: 10px;
}

.texto{
    width: 500px;
    text-align: justify;
    font-size: 17px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding: 90px;
    background-color: #6779b63b;
}

#coluna-direita{
    float: left;
}

#coluna-esquerda{
    float: right;
}

.foot{
    color: black;
    font-weight: bold;
}

.column img{
    height: auto;
    width: auto;
    max-width: 450px;
    max-height: 300px;
    margin-bottom: 30px;
    /*-webkit-box-shadow: 11px 7px 0px 0px rgba(91, 102, 124, 0.473);
    -moz-box-shadow:    11px 7px 0px 0px rgba(91, 102, 124, 0.473);
    box-shadow:         11px 7px 0px 0px rgba(91, 102, 124, 0.473);*/
}
