.cadastro{
    height: auto;
    width: 350px;
    padding: 30px;
    display: inline-block;
    position: absolute;
    margin-left: 35%;
    top: 10%;
    border-radius: 10px;
    background-color: #2b2c2e;
}

body{
    background-image: url(ondinha.jpg);
    background-position: center;
}

label{
    font-size: 20px;
    margin-right: 8px;
    color: #b8b6b6;
}

label, input, select{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    clear: both;
}

input:focus{
    outline: 0;
}

input[name="password"]{
    -webkit-text-security: disc;
}

input, select{
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

select:focus{
    outline: 0;
}

h2{
    font-size: 20px;
    color: #444444;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin: 0;
    text-align: center;
    color: #ffffff;
}

.container{
    margin-top: 30px;
}

.container button{
    background-color: rgb(122, 120, 120);
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

.container button:hover{
    opacity: 0.8;
}

#cancelBtn{
    background-color: rgb(122, 120, 120);
    float: right;
}